#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  position: sticky;
  top: 0;
  max-width: 100%;
  background-color: var(--background-color);
  padding: 1rem
}

.logo, .avatar {
  height: 6em;
  padding: 0.5em;
  will-change: filter;
  transition: filter 300ms;
  position: absolute;
  top: 8px;
  border-radius: 50%;
}

.logo {
  left: 0%;
}
.avatar {
  right: 0%;
}
.logo:hover, .avatar:hover {
  filter: drop-shadow(0 0 2em #01b0c7aa);
}
.logo.react:hover, .avatar.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.card {
  padding: 2em;
}

.nav{
  display: inline;
  list-style-type: none;
  margin-right: 25px;
  width: 1000px;
}

.hero-image{
  max-width: 100%;
}

.error{
  color: red;
}

.article-image{
  width: 100%;
  border-radius: 10px;
}

.article-list, .comment-list{
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;

}
.article-list li {
  background:var(--article-bg);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.comment-list li {
  background:var(--comment-bg);
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
}

.article-meta, .comment-meta {
  display:flex;
  align-items: center;
  gap: 10px;
}

.votes {
  font-weight: bold;
}

.article-body, .comment-body {
  text-align: left;
}

.vote-button{
  background-color: rgba(199, 239, 239, 0.851);
}

.button-img{
  max-height: 15px;
}

.votes-meta {
  display:flex;
  align-items:baseline;
  gap:5px;
}

.vote-button-container {
  display: flex;
  gap:5px;
}